body{
    background-color: #F7F7F7;
}

/* Game IDs */
.Games {
    display: flex;
    flex-wrap: nowrap;        /* prevent wrapping */
    gap: 20px;                /* space between cards */
    overflow-x: auto;         /* enables horizontal scroll */
    padding: 10px;
    scroll-behavior: smooth;  /* smooth scroll */
    background-color: #EB8317;
}

.GameID1 {
    flex: 0 0 250px;
    height: 300px;
    background-color: #FFFDF0;
    border: 20px solid #FFB22C;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease; /* smooth animation */
}

.GameID1:hover {
    transform: scale(1.05); /* grow slightly */
}


/* Button group wrapper */
.btn-group {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* Buttons */
.game-btn {
    background-color: #FFB22C;
    color: #F7F7F7;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.3s ease;
}

.game-btn:hover {
    background-color: #ffc561;
    width: 105px;
}

.game-btn.secondary {
    background-color: #e69500;
}

.game-btn.secondary:hover {
    background-color: #ffae33;
}


